@import "../../styles/variables";
@import "../../styles/mixins";

.breadcrumb {
  @include flex(row, start, center);
  flex-wrap: wrap;
  list-style: none;
  margin: 40px;
  //height: 36px;
  gap: 32px;

  .crumbLink {
    @include flex(row, center, center);
    border: 1px solid $lightGrayB;
    border-radius: 6px;
    height: 100%;

    @include fontSizeAndWeight($fontSize16, 500);
    color: $grayF;
    padding: 8px 16px;

    //&:after {
    //  content: "";
    //  width: 100%;
    //  height: 2px;
    //  background-color: red;
    //}
  }

  div {
    @extend .crumbLink;
    color: $darkGrayF;


  }

  hr {
    border: 1px solid $lightGrayB;
    transform: rotate(180deg);
    width: 16px;
  }

}

.breadcrumbItem {
  margin-right: 5px;
}

.breadcrumbItemActive {
  font-weight: bold;
  color: #333;
}

.breadcrumbItem a {
  text-decoration: none;
  color: $brightBlueF;
}

.breadcrumbItem a:hover {
  text-decoration: underline;
}