@import "../../styles/variables";
@import "../../styles/mixins";

.breadcrumb {
  @include flex(row, start, center);
  flex-wrap: wrap;
  list-style: none;
  margin: 40px 0 40px 0;
  height: 36px;
  //gap: 16px;

  li {
    @include flex(row, center, center);
    border: 1px solid $lightGrayB;
    border-radius: 6px;
    height: 100%;

    @include fontSizeAndWeight($fontSize16, 500);
    color: $grayF;
    padding: 8px 16px;
  }

  hr {
    border: 1px solid $lightGrayB;
    transform: rotate(180deg);
    width: 16px;
  }

}

.breadcrumbItem {
  margin-right: 5px;
}

.breadcrumbItemActive {
  font-weight: bold;
  color: #333;
}

.breadcrumbItem a {
  text-decoration: none;
  color: $brightBlueF;
}

.breadcrumbItem a:hover {
  text-decoration: underline;
}