@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.CartProductCard {
  @include flex(row, start, initial);
  max-width: 780px;
  width: 100%;
  height: 180px;
  gap: 32px;
  border: 1px solid $lightGrayB;
  border-radius: 12px;
  //position: relative;
}

.CartProductImg {
  max-height: 180px;
}

.CartProductCardInfoContainer {
  //width: 548px;
  padding: 32px 32px 32px 0;
  @include flex(column, space-between, start);

}

.CartProductTitleAndBtn {
    @include flex(row, space-between, center);
    gap: 16px;

    //width: 100%;

  .CartProductTitle {
    @include fontSizeAndWeight($fontSize20, 500);
    color: $darkGrayF;
    max-width: 400px;
  }

  .CartProductRemoveBtn {
    width: 12px;
    height: 12px;
    //cursor: pointer;
    border: none;
    background-color: transparent;
    color: $darkGrayF;
    outline: none;
    //position: absolute;
    //top: 32px;
    //right: 32px;
  }
}

.QuantityAndPrice {
  @include flex(row, space-between, center);
  gap: 32px;
  .CartProductPriceContainer {
    @include flex(row, center, center);
    gap: 16px;

    .CartProductDiscountPrice {
        @include fontSizeAndWeight($fontSize40, 600);
        color: $darkGrayF;
    }

    .CartProductPrice {
      @include fontSizeAndWeight($fontSize20, 500);
      color: $grayF;
      text-decoration: line-through;
      align-self: end;
    }
  }
}

.QuantityContainer {
  @include flex(row, space-between, center);
  gap: 16px;

  width: max-content;
  height: 58px;
  border: 1px solid $lightGrayB;
}
.QuantityBtn {
  width: 58px;
  height: 58px;
  border: 1px solid $lightGrayB;
  border-radius: 6px;
  font-size: $fontSize36;

  &:first-child {
    margin-right: 8px;
  }

  &:last-child {
    margin-left: 8px;
  }
}

.Quantity {
  @include fontSizeAndWeight($fontSize20, 600);
  @include flex(row, center, center);
  width: 10px;
}