@import "../../styles/_variables";
@import "../../styles/mixins";

.custom-select-container {
    position: relative;
    width: 200px;
    /*height: 36px;*/
}

.custom-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid $lightGrayB;
    border-radius: 6px;
    background-color: $whiteBG;
    cursor: pointer;
    position: relative;
}

.custom-select.open {
    border-color: $brightBlueB;
    border-radius: 6px 6px 0 0;
}

.custom-select .arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.custom-select .arrow.down {
    border-top: 6px solid $darkGrayB;
}

.custom-select .arrow.up {
    border-bottom: 6px solid $darkGrayB;
}

.custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $whiteBG;
    border: 1px solid $lightGrayB;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
}

.custom-option {
    padding: 10px;
    cursor: pointer;

    @include fontSizeAndWeight($fontSize16, 500);
    color: $grayF;
}

.custom-option:hover,
.custom-option.selected {
    //background-color: #f0f0f0;
    color: $darkGrayF;
}