
//Font
$whiteF: #ffffff;
$blackF: #282828;

//Outline
$whiteO: #ffffff;
$blackO: #282828;

//Border
$whiteB: #ffffff;
$blackB: #282828;

//Background
$whiteBG: #ffffff;
$blackBG: #282828;

//FontSize
$fontSize1: 1.6rem;//smallest
$fontSize2: 2.0rem;//very small
$fontSize3: 2.4rem;//small
$fontSize4: 3.0rem;//medium
$fontSize5: 3.6rem;//large
$fontSize6: 4.0rem;//very large
$fontSize7: 4.8rem;//largest
$fontSize8: 6.4rem;//big
$fontSize9: 9.6rem;//biggest

