

/**
    * Font
 */
$whiteF: #ffffff;
$lightGrayF: #dddddd;
$darkGrayF: #282828;
$lightBlueF: #0D50FF;
$brightBlueF: #007bff;
$grayF: #8B8B8B;
$lightCloudF: #F1F3F4;
$electricPurpleF: #9c60e7;
$lightPinkF: #E1306C;
$lightGreenF: #25D366;
$ghostWhiteF: #f8f9fa;


/**
    * Outline
 */
$whiteO: #ffffff;
$lightGrayO: #dddddd;
$darkGrayO: #282828;
$lightBlueO: #0D50FF;
$brightBlueO: #007bff;
$grayO: #8B8B8B;
$lightCloudO: #F1F3F4;
$electricPurpleO: #9c60e7;
$lightPinkO: #E1306C;
$lightGreenO: #25D366;
$ghostWhiteO: #f8f9fa;

/**
    * Border
 */
$whiteB: #ffffff;
$lightGrayB: #dddddd;
$darkGrayB: #282828;
$lightBlueB: #0D50FF;
$brightBlueB: #007bff;
$grayB: #8B8B8B;
$lightCloudB: #F1F3F4;
$electricPurpleB: #9c60e7;
$lightPinkB: #E1306C;
$lightGreenB: #25D366;
$ghostWhiteB: #f8f9fa;

/**
    * Background
 */
$whiteBG: #ffffff;
$lightGrayBG: #dddddd;
$darkGrayBG: #282828;
$lightBlueBG: #0D50FF;
$brightBlueBG: #007bff;
$grayBG: #8B8B8B;
$lightCloudBG: #F1F3F4;
$electricPurpleBG: #9c60e7;
$lightPinkBG: #E1306C;
$lightGreenBG: #25D366;
$ghostWhiteBG: #f8f9fa;

/**
    * FontSize
 */
$fontSize16: 1.6rem;//smallest
$fontSize20: 2.0rem;//very small
$fontSize24: 2.4rem;//small
$fontSize30: 3.0rem;//medium
$fontSize36: 3.6rem;//large
$fontSize40: 4.0rem;//very large
$fontSize48: 4.8rem;//largest
$fontSize64: 6.4rem;//big
$fontSize96: 9.6rem;//biggest

