@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.CartOrderForm {
  @include flex(column, center, center);
  gap: 15px;
  width: 100%;

  input {
    width: 100%;
    padding: 16px 32px;
    border: 1px solid $lightGrayB;
    border-radius: 6px;
  }

  .CartOrderBtn {
    @include fontSizeAndWeight($fontSize20, 600);
    width: 100%;
    padding: 16px 32px;
    border: none;
    border-radius: 6px;
    color: $whiteF;
    cursor: pointer;
    background-color: $lightBlueBG;
    &:hover {
      background-color: $darkGrayBG;
    }
  }
}

.Error {
  @include fontSizeAndWeight($fontSize24, 600);
    color: $redF;
}