
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.Cart {
  padding: 0 40px;
}

.CartHeader {
  @include fontSizeAndWeight($fontSize64, 700)
}

.CartContainer {
  @include flex(row, space-between, start);
  flex-wrap: wrap;

  .CartProducts {
    @include flex(column, start, start);
    gap: 15px;
    //width: 50vw;
  }

}

.ContinueShoppingBtn {
  @include fontSizeAndWeight($fontSize20, 600);
  margin-top: 16px;
  padding: 16px 56px;
  border-radius: 6px;
  background-color: $lightBlueBG;
  border: none;
  color: $whiteF;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $darkGrayBG;
  }

  &:active {
    background-color: $whiteBG;
    color: $darkGrayF;
  }

}

@media screen and (max-width: 1024px) {
  .CartContainer {
    @include flex(column, center, center);
    gap: 16px;

    .CartOrderContainer {
        width: 100%;
    }
  }
}


@media screen and (max-width: 768px) {
  .CartContainer {
    .CartProducts {
      @include flex(row, center, start);
      flex-wrap: wrap;
      //gap: 16px;

    }
  }
}

@media screen and (max-width: 425px) {
  .Cart {
    padding: 0 24px;
  }

  .CartContainer {
    .CartProducts {
      @include flex(column, center, center);

    }
  }
}

@media screen and (max-width: 320px) {
  .Cart {
    padding: 0 12px;
  }

}