@import "../../styles/mixins";
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 30px 40px;
    //padding: 1rem 2rem;
    background-color: #f8f9fa;
    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    a {
        text-decoration: none;
        //font-size: 2rem;
        //font-weight: 500;
        @include fontSizeAndWeight(2rem, 500);
        color: #282828FF;
    }

    .active {
        color: #0D50FFFF;
        //font-size: 20px;
    }
}

.navbarCenterLinks {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    @include flex(row, center, center);
    gap: 32px;
}





@media screen and (max-width: 768px) {
    //.Navbar {
    //    padding: 20px 30px;
    //}
    //
    //.navbarCenterLinks {
    //    gap: 16px;
    //}

    .Navbar, .navbarCenterLinks {
        //flex-direction: column;
        @include flex(column, center, center);
        gap: 16px;
    }


}