@import "../../styles/mixins";
@import "../../styles/variables";

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 30px 40px;

    background-color: $ghostWhiteO;

    a {
        text-decoration: none;
        @include fontSizeAndWeight(2rem, 500);
        color: #282828FF;
        transition: color 0.5s;

        &:hover {
            color: #3670c9;
        }
    }

    .active {
        color: $lightBlueF;
    }
}

.navbarCenterLinks {
    @include flex(row, center, center);
    gap: 32px;
}

.burgerBtn {
    display: none;
}

.navbarCenterLinksOpen {
    //display: none;
    opacity: 0;
    visibility: hidden;

    transition: all 0.3s ease;
}

.cartBtnOpen {
    display: none;
}

.cartBtnClose {
    display: none;
}


.bar {
    width: 25px;
    height: 3px;
    background-color: $darkGrayBG;
    transition: transform 0.4s;
}

.change:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change:nth-child(2) {
    opacity: 0;
}

.change:nth-child(3) {
    transform: rotate(45deg) translate(-4px, -4px);
}

@media screen and (max-width: 768px) {

    .Navbar {
        //flex-direction: column;
        @include flex(row, space-between, center);
        gap: 16px;

        position: relative;
    }

    .navbarCenterLinks {
        display: none;
    }

    .cartBtn {
        display: none;
    }

    .burgerBtn {
        @include flex(column, center, center);
        gap: 0.3rem;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .cartBtnOpen {
        display: block;
    }

    .navbarCenterLinksOpen {
        @include flex(column, center, center);

        opacity: 1;
        visibility: visible;

        position: absolute;
        top: 135px;
        right: 0;
        z-index: 1;
        background-color: $ghostWhiteBG;
        padding: 32px;
        border-radius: 0 0 16px 16px;
    }

}