@import "../../styles/variables";
@import "../../styles/mixins";

.CategoriesComponent {
  padding: 0 40px 0 40px;
}

.CategoriesContainer {
  @include flex(row, center, center);

  flex-wrap: wrap;
  gap: 32px;

}

.NoCategories {
  @include fontSizeAndWeight($fontSize40, 600);
  text-align: center;
}


a {
  text-decoration: none;
  color: $darkGrayF;
  @include fontSizeAndWeight(2rem, 500);
  text-align: center;
}


@media screen and (max-width: 768px){
  .CategoriesComponent {
    @include flex(column, center, center);
  }

  .CategoriesContainer {
    @include flex(column, center, center);
    gap: 32px;

  }
  
}