
@import "../../styles/variables";
@import "../../styles/mixins";

.NotFound {
  @include flex(column, center, center);
  gap: 40px;
  margin: 80px 0;
}



.NotFoundInfo {
  @include flex(column, center, center);
  gap: 16px;
  text-align: center;


  .NotFoundTitle {
    @include fontSizeAndWeight($fontSize64, 700);
    color: $darkGrayF;//#282828;
  }

  .NotFoundDescription {
    @include fontSizeAndWeight($fontSize20, 500);
    color: $grayF;

  }

  .NotFoundBtn {
    @include fontSizeAndWeight($fontSize20, 600);
    margin-top: 16px;
    padding: 16px 56px;
    border-radius: 6px;
    background-color: $lightBlueBG;
    border: none;
    color: $whiteF;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: $darkGrayBG;
    }

    &:active {
      background-color: $lightCloudBG;
      color: $darkGrayF;
    }
  }
}

@media screen and (max-width: 768px){
  .NotFound {
    margin: 40px 0;
  }

  .NotFoundFourImg {
    width: 50vw;
  }

  .NotFoundInfo {
    .NotFoundTitle {
      @include fontSizeAndWeight($fontSize40, 700);
    }
  }
}

@media screen and (max-width: 320px){
  .NotFound {
    margin: 20px 0;
  }

  .NotFoundInfo {
    .NotFoundTitle {
      @include fontSizeAndWeight($fontSize30, 700);
    }

    .NotFoundDescription {
      @include fontSizeAndWeight($fontSize16, 500);
    }

    .NotFoundBtn {
      @include fontSizeAndWeight($fontSize16, 600);
      padding: 12px 40px;
    }
  }
}