@import "../../styles/variables";
@import "../../styles/mixins";

.Footer {
  padding: 0 40px 80px 40px;
}

.FooterHeader {
    color: #282828;
    @include fontSizeAndWeight(6.4rem, 700);
    margin-bottom: 40px;
}


.ContactInfo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 32px;
  margin-bottom: 32px;
}


.PhoneNumber {
  background-color: red;
  //grid-column-start: 1;
  //grid-column-end: 2;
  grid-column: 1 / 2;
}


.ContactCard {
  background-color: #F1F3F4;
  border-radius: 12px;
  padding: 32px;
  h4 {
    @include fontSizeAndWeight(2.0rem, 500);
    color: #8B8B8B;
  }

  p {
    @include fontSizeAndWeight(4.0rem, 600);
    color: #282828;
  }
}

.Socials {
  @include flex(column, start, start);
  gap: 16px;

  .SocialsLinks {
    @include flex(row, start, center);
    gap: 16px;

    a {
      color: #282828;
      font-size: 2.0rem;
    }
  }
}


.FooterMap {
  width: 100%;
  height: 350px;

    iframe {
      border-radius: 12px;
    }
}


@media screen and (max-width: 768px) {

  .Footer {
    @include flex(column, center, center);
  }

  .ContactInfo {
    @include flex(column, center, center);
    gap: 16px;

  }

  .ContactCard {
    width: 100%;
  }

}

@media screen and (max-width: 425px) {
  .ContactCard {
    h4 {
      @include fontSizeAndWeight(1.5rem, 500);
      color: #8B8B8B;
    }

    p {
      @include fontSizeAndWeight(3.6rem, 600);
      color: #282828;
    }
  }
}


@media screen and (max-width: 375px) {
  .Footer {
    padding: 0 16px 0 16px;
  }

  .ContactCard {
    h4 {
      @include fontSizeAndWeight(1.0rem, 500);
      color: #8B8B8B;
    }

    p {
      @include fontSizeAndWeight(3.2rem, 600);
      color: #282828;
    }
  }

}
