@import "../../styles/variables";
@import "../../styles/mixins";

.Footer {
  margin-top: 80px;
  padding: 0 40px 80px 40px;
}

.FooterHeader {
    color: $darkGrayF;
    @include fontSizeAndWeight($fontSize64, 700);
    margin-bottom: 40px;
}


.ContactInfo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1.5fr;
  gap: 32px;
  margin-bottom: 32px;
}


.ContactCard {
  background-color: $lightCloudBG;
  border-radius: 12px;
  padding: 32px;
  h4 {
    @include fontSizeAndWeight($fontSize20, 500);
    color: $grayF;
  }

  p {
    @include fontSizeAndWeight($fontSize40, 600);
    color: $darkGrayF;
  }
}

.Socials {
  @include flex(column, start, start);
  gap: 16px;

  .SocialsLinks {
    @include flex(row, start, center);
    gap: 16px;

    a {
      color: $darkGrayF;
      font-size: 2.0rem;
    }

    .InstagramIcon {
      color: $darkGrayF;
      transition: color 0.5s;
      &:hover {
        color: $lightPinkF;
      }
    }


    .WhatsAppIcon {
      color: $darkGrayF;
      transition: color 0.5s;

      &:hover {
        color: $lightGreenF;
      }
    }
  }
}


.FooterMap {
  width: 100%;
  height: 350px;

    iframe {
      border-radius: 12px;
    }
}


@media screen and (max-width: 768px) {

  .Footer {
    @include flex(column, center, center);
  }

  .ContactInfo {
    @include flex(column, center, center);
    gap: 16px;

  }

  .ContactCard {
    width: 100%;
  }

}

@media screen and (max-width: 425px) {
  .ContactCard {
    h4 {
      @include fontSizeAndWeight(1.5rem, 500);
      color: #8B8B8B;
    }

    p {
      @include fontSizeAndWeight($fontSize36, 600);
      color: #282828;
    }
  }
}


@media screen and (max-width: 375px) {
  .Footer {
    padding: 0 16px 0 16px;
  }

  .ContactCard {
    h4 {
      @include fontSizeAndWeight(1.0rem, 500);
      color: #8B8B8B;
    }

    p {
      @include fontSizeAndWeight(3.2rem, 600);
      color: #282828;
    }
  }

}
