@import "../../styles/variables";
@import "../../styles/mixins";

.DiscountBanner {
  padding: 0 40px;
}

.DiscountBannerContainer {
  background-image: linear-gradient(#2451C6, #0D50FF);
  border-radius: 12px;
  padding: 32px 0 0 0;
  text-align: center;
}

.DiscountHeader {
  color: $whiteF;
  @include fontSizeAndWeight($fontSize64, 700);
}

.DiscountContent {
  @include flex(row, space-around, center);
  flex-wrap: wrap;
}

.DiscountForm {
  width: 516px;
  @include flex(column, center, center);
  gap: 16px;
  margin-bottom: 16px;

  input {
    width: 100%;
    background-color: transparent;
    outline: 1px solid $whiteO;
    border: none;
    border-radius: 6px;
    padding: 16px 32px;
    color: $whiteF;
    @include fontSizeAndWeight(2rem, 500);
    transition: outline 0.3s;
    &::placeholder {
      color: $whiteF;
      @include fontSizeAndWeight(2rem, 500);
    }

    &:focus {
      outline: 1px solid $electricPurpleO;

    }
  }
}

.GetDiscountBtn {
  background-color: $whiteBG;
  color: $darkGrayF;
  //font-size: 2rem;
  //font-weight: 600;
  @include fontSizeAndWeight(2rem, 600);
  width: 100%;
  padding: 16px 32px;
  margin-top: 16px;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $darkGrayBG;
    color: $whiteF;
  }

  &:active {
    background-color: $lightCloudBG;
    color: $lightBlueF;
    outline: none;
  }
}

@media screen and (max-width: 1024px) {

  .DiscountContent {
    justify-content: center;

    img {
      order: 2;
    }
  }

  .DiscountForm {
    margin-top: 16px;
  }
  
}

@media screen and (max-width: 768px) {
  .DiscountContent {

    img {
      width: 100%;
    }
  }

  .DiscountForm {
    width: 100%;
    margin: 0 16px 0 16px;
  }
}