
@import "../../styles/variables";
@import "../../styles/mixins";



.AddToCartBtn {
  background-color: $lightBlueO;
  color: $whiteF;
  @include fontSizeAndWeight($fontSize20, 600);
  width: 284px;

  padding: 16px 32px;
  border-radius: 6px;
  border: none;
  cursor: pointer;


  //position: absolute;
  //top: 224px;
  //left: 50%;
  //transform: translateX(-50%);
  //
  //opacity: 0; /* Изначально скрыта */
  //visibility: hidden;



  transition: background-color 0.3s;
  &:hover {
    background-color: $darkGrayBG;
  }

  &:active {
    background-color: $whiteBG;
    color: $darkGrayF;
  }
}