
@import "../../styles/variables";
@import "../../styles/mixins";


.ProductCard {
  width: 316px;
  position: relative;
  border-radius: 12px;
  border: 1px solid $lightGrayB;
  transition: background-color 0.5s;
  img {
    width: calc(100% - 8px);
    height: 284px;
    margin: 4px;
  }

  &:hover, &:active {
    background-color: #E9E9E9FF;
  }
}

.ProductImage {
  position: relative;
}




.ProductInfo {
  padding: 20px 32px 0 32px;
  gap: 16px;

}

.ProductTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include fontSizeAndWeight($fontSize20, 500);
  color: $darkGrayF;

}


.ProductPriceInfo {
  @include flex(row, start, end);
  margin-top: 16px;
  margin-bottom: 32px;
  gap: 16px;
}


.ProductDPrice {
    color: $darkGrayF;
    @include fontSizeAndWeight($fontSize40, 600);
}

.ProductPrice {
    color: $grayF;
    text-decoration: line-through;
    @include fontSizeAndWeight($fontSize20, 500);
}



.ProductDiscount {
  background-color: $lightBlueBG;
  color: $whiteF;
  @include fontSizeAndWeight($fontSize20, 600);
  width: max-content;
  padding: 4px 8px;
  border-radius: 6px;

  position: absolute;
  top: 16px;
  right: 16px;
}


////////////////////

.HiddenBtn {
  position: absolute;
  top: 224px;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;

}

.ProductCard:hover .HiddenBtn {
  opacity: 1;
  visibility: visible;
}




@media screen and (max-width: 1024px) {
  .AddToCartBtn {
    width: 75%;
    padding: 8px 16px;
    top: 55%;

  }
}


@media screen and (max-width: 768px) {
  .AddToCartBtn, .HiddenBtn {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 375px) {
  .ProductCard {
    width: 100%;

    .ProductInfo {
      .ProductTitle {
        @include fontSizeAndWeight($fontSize16, 500);
      }

      .ProductPriceInfo {
        .ProductDPrice {
          @include fontSizeAndWeight($fontSize30, 600);
        }
        .ProductPrice {
          @include fontSizeAndWeight($fontSize16, 500);
        }
      }
    }
  }
}
