@import "../../styles/variables";
@import "../../styles/mixins";

.Sales {
  padding: 0 40px;
}

.SalesHeader {
  @include fontSizeAndWeight($fontSize64, 700);
}


.SalesProductsContainer {
  @include flex(row, center, start);
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 40px;
}

@media screen and (max-width: 1024px) {
  .Sales {
    padding: 0 16px;
  }

  .SalesProductsContainer{
    gap: 12px;
  }


}