.ProductFullBlock {
  margin: 0 40px;
}

.ProductFull {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}

.ProductImg {
  max-width: 574px;
  width: 100%;
  height: 100%;
  max-height: 574px;
}

.ProductFullInfoContainer {
  max-width: 574px;
}
.ProductFullInfoContainer h2 {
  font-size: 4rem;
  font-weight: 700;
}

.ProductFullPriceInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 16px;
  position: relative;
  width: max-content;
}

.ProductDPrice {
  color: #282828;
  font-size: 6.4rem;
  font-weight: 700;
  margin-right: 16px;
}

.ProductPrice {
  color: #8B8B8B;
  text-decoration: line-through;
  font-size: 4rem;
  font-weight: 500;
}

.ProductDiscount {
  background-color: #0D50FF;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  width: max-content;
  padding: 4px 8px;
  border-radius: 6px;
  align-self: start;
}

.ProductFullControlPanel {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 32px;
}

.AddToCartBtn {
  background-color: #0D50FF;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  width: 316px;
  height: 100%;
  padding: 16px 32px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.AddToCartBtn:hover {
  background-color: #282828;
}
.AddToCartBtn:active {
  background-color: #ffffff;
  color: #282828;
}

.QuantityContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: max-content;
  height: 58px;
  border: 1px solid #dddddd;
}

.QuantityBtn {
  width: 58px;
  height: 58px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  font-size: 3.6rem;
}
.QuantityBtn:first-child {
  margin-right: 8px;
}
.QuantityBtn:last-child {
  margin-left: 8px;
}

.Quantity {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10px;
}

.ProductFullDescContainer .ProductFullDescHeader {
  font-size: 2rem;
  font-weight: 600;
  margin: 32px 0 16px 0;
}
.ProductFullDescContainer .ProductFullDescOverflowContainer {
  overflow: scroll;
  max-width: 548px;
  height: 300px;
}
.ProductFullDescContainer .ProductFullDescOverflowContainer .ProductFullDescPar {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (max-width: 1024px) {
  .ProductFull {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 375px) {
  .ProductFullInfoContainer h2 {
    font-size: 2.4rem;
    font-weight: 700;
  }
  .ProductFullInfoContainer .ProductFullPriceInfo {
    gap: 8px;
  }
  .ProductFullInfoContainer .ProductFullPriceInfo .ProductDPrice {
    font-size: 3.6rem;
    font-weight: 700;
  }
  .ProductFullInfoContainer .ProductFullPriceInfo .ProductPrice {
    font-size: 2.4rem;
    font-weight: 500;
  }
  .ProductFullInfoContainer .ProductFullPriceInfo .ProductDiscount {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .AddToCartBtn {
    width: 75vw;
  }
}

/*# sourceMappingURL=Product.module.css.map */
