@import "../../styles/variables";
@import "../../styles/mixins";

.ProductFullBlock {
  margin: 0 40px;
}

.ProductFull {
    @include flex(row, space-around, start);
  flex-wrap: wrap;
}



.ProductImg {
  max-width: 574px;
  width: 100%;
  height: 100%;
  max-height: 574px;
  //object-fit: contain; /* Либо 'cover', в зависимости от желаемого эффекта */
}


.ProductFullInfoContainer {
  max-width: 574px;

  h2 {
    @include fontSizeAndWeight($fontSize40, 700);
  }
}

.ProductFullPriceInfo {

  @include flex(row, center, end);
  gap: 16px;
  position: relative;
  width: max-content;
}



.ProductDPrice {
  color: $darkGrayF;
  @include fontSizeAndWeight($fontSize64, 700);
    margin-right: 16px;
}

.ProductPrice {
  color: $grayF;
  text-decoration: line-through;
  @include fontSizeAndWeight($fontSize40, 500);
}



.ProductDiscount {
  background-color: $lightBlueBG;
  color: $whiteF;
  @include fontSizeAndWeight($fontSize20, 600);
  width: max-content;
  padding: 4px 8px;
  border-radius: 6px;

  align-self: start;
}


////////////

.ProductFullControlPanel {
  @include flex(row, start, center);
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 32px;
}

.AddToCartBtn {
  background-color: $lightBlueBG;
  color: $whiteF;
  @include fontSizeAndWeight($fontSize20, 600);
  width: 316px;
  height: 100%;

  padding: 16px 32px;
  border-radius: 6px;
  border: none;
  cursor: pointer;


  &:hover {
    background-color: $darkGrayBG;
  }

  &:active {
    background-color: $whiteBG;
    color: $darkGrayF;
  }
}

.QuantityContainer {
  @include flex(row, center, center);
  gap: 16px;

  width: max-content;
  height: 58px;
  border: 1px solid $lightGrayB;
}
.QuantityBtn {
  width: 58px;
  height: 58px;
  border: 1px solid $lightGrayB;
  border-radius: 6px;
  font-size: $fontSize36;

  &:first-child {
    margin-right: 8px;
  }

  &:last-child {
    margin-left: 8px;
  }
}

.Quantity {
  @include fontSizeAndWeight($fontSize20, 600);
  @include flex(row, center, center);
  width: 10px;
}


.ProductFullDescContainer {

  .ProductFullDescHeader {
    @include fontSizeAndWeight($fontSize20, 600);
    margin: 32px 0 16px 0;
  }

  .ProductFullDescOverflowContainer {
    //overflow: scroll;
    max-width: 548px;
    //height: 300px;
    .ProductFullDescPar {
      @include fontSizeAndWeight($fontSize16, 400);
      line-height: 26px;
      overflow: hidden;
    }
  }

}


@media screen and (max-width: 1024px) {
  .ProductFull {
    @include flex(column, center, center);

  }

}

@media screen and (max-width: 375px) {

  .ProductFullInfoContainer {
    h2 {
        @include fontSizeAndWeight($fontSize24, 700);
    }

    .ProductFullPriceInfo {
      gap: 8px;
      .ProductDPrice {
        @include fontSizeAndWeight($fontSize36, 700);
      }

      .ProductPrice {
        @include fontSizeAndWeight($fontSize24, 500);
      }

      .ProductDiscount {
        @include fontSizeAndWeight($fontSize16, 600);
      }
    }
  }

  .AddToCartBtn {
    width: 75vw;
  }
}