@import "../../styles/variables";
@import "../../styles/mixins";


.CategoriesPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  white-space: nowrap;

  hr {
    border: 1px solid $lightGrayB;
    width: 100%;
  }
}

.CategoriesHeader {
  @include fontSizeAndWeight($fontSize64, 700);
  color: $darkGrayF;
  padding-right: 32px;
}

.AllCategoriesLink {
  border: 1px solid $lightGrayB;
  border-radius: 6px;
  @include fontSizeAndWeight(1.5rem, 500);
  color: $grayF;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  height: fit-content;
}

.AllCategoriesLinkSpan {
  display: block;
  width: 110px;
  height: 20px;
}



@media screen and (max-width: 768px){
  .CategoriesPanel {
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    white-space: initial;
    text-align: center;

    .CategoriesHeader {
      padding-right: 0;
      margin: 0;
      @include fontSizeAndWeight(5.8rem, 700);
    }

    hr {
      display: none;
    }
  }
}

@media screen and (max-width: 425px){
  .CategoriesPanel {
    .CategoriesHeader {
      @include fontSizeAndWeight(4.0rem, 700);
    }
  }
}