@import "../../styles/variables";
@import "../../styles/mixins";

.SalesComponent {
  padding: 0 40px;
}

.SaleProductsContainer {
  @include flex(row, center, center);
  flex-wrap: wrap;
  gap: 32px;

  .SaleProduct {
    width: 316px;
    min-height: 422px;
    position: relative;
    border-radius: 12px;
    border: 1px solid $lightGrayB;

    img {
      width: calc(100% - 8px);
      max-height: 284px;
      margin: 4px;
    }

  }
}

.NoProducts {
  @include fontSizeAndWeight($fontSize40, 600);
  text-align: center;
}


.ProductsInfo {
  padding: 0 32px;

  .ProductTitleHeader {
    white-space: nowrap; /* Предотвращает перенос текста */
    overflow: hidden; /* Прячет текст, который не помещается */
    text-overflow: ellipsis; /* Добавляет многоточие */
  }


}

.ProductPriceInfo {

  @include flex(row, start, end);
  gap: 16px;

  .ProductPrice {
    color: $darkGrayF;
    @include fontSizeAndWeight($fontSize40, 600);
  }

  .ProductDiscountPrice {
    color: $grayF;
    text-decoration: line-through;
    @include fontSizeAndWeight($fontSize20, 500);
    margin-bottom: 2px;

  }

  .ProductDiscount {
    background-color: $lightBlueBG;
    color: $whiteF;
    @include fontSizeAndWeight($fontSize20, 600);
    width: max-content;
    padding: 4px 8px;
    border-radius: 6px;

    position: absolute;
    top: 16px;
    right: 16px;
  }
}


@media screen and (max-width: 768px){

  .SalesComponent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .SaleProductsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;


    .SaleProduct {
      width: 100%;

      img {
        max-height: initial;
      }

    }
  }

}