@import "../../styles/variables";
@import "../../styles/mixins";

.Categories {
  padding: 0 40px;
}

.CategoriesHeader {
  @include fontSizeAndWeight(6.4rem, 700);
  margin-bottom: 40px;
}

.CategoriesContainer {
  @include flex(row, center, center);

  flex-wrap: wrap;
  gap: 32px;

  .Category {
    width: 316px;

    img {
      width: 100%;
    }

    .CategoryName {
      @include fontSizeAndWeight(2.0rem, 500);
    }
  }
}


@media screen and (max-width: 425px) {

  .Categories {
    @include flex(column, center, center);
  }

  .CategoriesHeader {
    font-size: 4.8rem;
  }

  .CategoriesContainer {
    //padding: 0 16px 0 16px;
  }
  
}